@media only screen and (max-width: 760px) {
  .salutationWeb {
    display: none;
  }
  .salutation {
    margin: 0px !important;
    padding: 0px !important;
    overflow: auto;
  }
  .salutaion__img {
    width: 100%;
    height: 70vh;
  }
  .salutation__footer {
    background-color: $color-background;
    padding-top: 50px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    &__link {
      padding: 0px 50px;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
    }
    &__text {
      font-size: 1.2rem;
      margin-top: auto;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 760px) {
  .salutation {
    display: none;
  }
  .salutationWeb {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    &__img {
      height: 300px;
      width: 500px;
      margin: 30px 0px;
    }
    &__text {
      text-align: center;
      margin: 10px;
      & p {
        font-weight: 500;
        font-family: "Poppins", sans-serif;
      }
    }

    &__link {
      display: flex;
      width: 15vw;
      justify-content: space-around;

      & img {
        width: 25px;
        height: 25px;
      }
    }
  }
  .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
}
